---
title: All known MIME types
---

<p>
There are {{ site.data.formats.mimetypes.stats.total_mimetypes }} known MIME types.
</p>

<table class="table">
{% for mt in site.data.formats.mimetypes.mimetypes %}
<tr><th>
{% if mt[1]['name'] == "" %}
<i id="-empty-">Empty String</i>
{% else %}
<div id="{{ mt[1]['name'] | downcase }}">{{ mt[1]['name'] }}</div>
{% endif %}
</th>
<td>
{% for type in mt[1]['identifiers'] %}
<a href="{{ site.baseurl }}/formats/sources/{{ type['regId'] }}/formats/#{{ type['formatId'] }}">{{ type['regId'] }}:{{ type['formatId'] }} - {{ site.data.formats[type['regId']]['formats'][type['formatId']['name'] }}</a><br/>
{% endfor %}
</td>
</tr>
{% endfor %}
</table>
