---
title: All known MIME types
---

<p>
There are {{ site.data.formats.mimetypes.stats.total_mimetypes }} known MIME types.
</p>

<table class="table index-table">
{% for mt in site.data.formats.mimetypes.mimetypes %}
<tr><th>
{% if mt[1]['id'] == "" %}
<i id="-empty-">Empty String</i>
{% else %}
{% capture mimetype %}{{ mt[1]['id'] }}{% endcapture %}
{% for num in (1...mt[1]['sort_depth']) %}&mdash;&nbsp;{% endfor %}
<a id="{% include anchor.html anchor=mimetype %}" href="#{% include anchor.html anchor=mimetype %}">
{{ mimetype }}
</a>
{% endif %}
</th>
<td>
{% for type in mt[1]['identifiers'] %}
<a href="{{ site.baseurl }}/formats/sources/{{ type['regId'] }}/formats/#{{ type['formatId'] }}">
{% if site.data.formats[type['regId']]['formats'][type['formatId']]['name'] %}
{{ site.data.formats[type['regId']]['formats'][type['formatId']]['name'] }}
{% else %}
{{ type['formatId'] }}
{% endif %}
 <span class="badge">{{ type['regId'] }}</span></a><br/>
{% endfor %}
</td>
</tr>
{% endfor %}
</table>
