---
---
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4">
        
<div class="panel panel-default">
  <div class="panel-heading">Find or describe tools</div>
  <div class="panel-body">
    <p>
    <img src="icons/noun_project_1191.png" style="float: right;"/>
    The Community Owned digital Preservation Tool Registry, <a href="http://coptr.digipres.org/">COPTR</a>, brings together five disparate and disconnected preservation tool registries into a single extensible community resource.
    </p>

    * Describe a useful digital preservation tool - Finding toolsets that automate your digital preservation processes and solve your challenges is not easy. Tool registries provide a way of browsing for useful solutions and learning from experiences others have had in applying them. [The COPTR tool registry captures information about tools on an easy to edit wiki](http://coptr.digipres.org/). 
    * Contribute[ a short description of a useful tool for digital preservation.](http://coptr.digipres.org/)
    * Improve Tools
    * Improve file format identification
    * Identifying file formats is the bread and butter of digital preservation characterisation and assessment. Identification tool coverage and accuracy could be much better, and this primarily comes down to the signatures used to identify each format.
    * [Submit a file format signature/patch to Apache Tika](http://openplanetsfoundation.org/blogs/2012-02-09-basic-guide-writing-new-format-signatures)).
    * [Contribute a file format signature to DROID](http://www.nationalarchives.gov.uk/documents/information-management/pronom-file-signature-research.pdf)).
    * [Contribute a file format signature to FILE](http://www.openplanetsfoundation.org/blogs/2012-08-09-magic-editing-and-creation-primer)).
    * Enhance deep file characterisation
    * Deep file characterisation enables validation, identification of preservation risks and extraction of metadata. In developing a new characterisation capability, begin with thorough research to identify existing code to re-use or build on, develop a focused command line tool, then consider turning it into a JHOVE2 module.
    * Develop a new file characterisation capability and turn it into a [JHOVE2 module](https://bitbucket.org/jhove2/main/wiki/Home).
    
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Find or share digital object samples</div>
  <div class="panel-body">
  <p>
    <img src="icons/noun_project_650.png" style="float: right;"/>
    Digital preservation needs high-quality tools, but to get high-quality tools, we need rich and varied test corpora to stretch those tools to their limits. <a href="{{ baseurl }}/test-corpora/">Click here to find out more about the available corpora and how to use and contribute to them</a>.
  </p>
  </div>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4">
<div class="panel panel-default">
  <div class="panel-heading">Understand digital formats</div>
  <div class="panel-body">
    <p>
    <img src="icons/noun_project_1191.png" style="float: right;"/>
    The <a href="http://fileformats.archiveteam.org/">File Formats Wiki</a>.
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Identify digital formats</div>
  <div class="panel-body">
    <p>
    <img src="icons/noun_project_1191.png" style="float: right;"/>
    ID tools?
    </p>
  </div>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4">
<div class="panel panel-default">
  <div class="panel-heading">Ask or answer a DP question</div>
  <div class="panel-body">
    <p>
    <img src="icons/noun_project_22.png" style="float: right;"/>
    The <a href="http://qanda.digipres.org/">Digital Preservation Q&amp;A</a> site provide a space where anyone can ask questions and receive answers from other members of the digital preservation community.
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Take part</div>
  <div class="panel-body">
    <p>
    <img src="icons/noun_project_22.png" style="float: right;"/>
    The digipres mailing list...
    </p>
  </div>
</div>
</div>

</div>


<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12">
<div class="panel panel-default">
  <div class="panel-body">
      <em>All images sourced from the</em> <em><span class="nobr"><a href="http://thenounproject.com/" class="external-link">Noun Project<sup><img class="rendericon" src="/images/icons/linkext7.gif" alt="" align="absmiddle" border="0" width="7" height="7"></sup></a></span></em><em>, including: Question image by Henry Ryder, Swiss Army Knife image by Olivier Guin, Add folder image by Sergio Calcara, People image by T. Weber,&nbsp;Cross hairs image by __Lo._ and chain image by Adam Whitcroft.</em>
  </div>
</div>
</div>
</div>
