<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4">
        
<div class="panel panel-default">
  <div class="panel-heading">Find Or Describe DigiPres Tools</div>
  <div class="panel-body">
    <p>
    <img src="icons/noun_project_1191.png" style="float: right;"/>
    The Community Owned digital Preservation Tool Registry, <a href="http://coptr.digipres.org/">COPTR</a>, brings together five disparate and disconnected preservation tool registries into a single extensible community resource.
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Share or create digital object samples</div>
  <div class="panel-body">
  <p>
    <img src="icons/noun_project_650.png" style="float: right;"/>
    Digital preservation needs high-quality tools, but to get high-quality tools, we need rich and varied test corpora to stretch those tools to their limits. <a href="{{ baseurl }}/test-corpora/">Click here to find out more about the available corpora and how to use and contribute to them</a>.
  </p>
  </div>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4">
<div class="panel panel-default">
  <div class="panel-heading">Understanding Digital Formats</div>
  <div class="panel-body">
    <p>
    <img src="icons/noun_project_1191.png" style="float: right;"/>
    The <a href="http://fileformats.archiveteam.org/">File Formats Wiki</a>.
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Identifying Digital Formats</div>
  <div class="panel-body">
    <p>
    <img src="icons/noun_project_1191.png" style="float: right;"/>
    ID tools?
    </p>
  </div>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4">
<div class="panel panel-default">
  <div class="panel-heading">Ask Or Answer A DigiPres Question</div>
  <div class="panel-body">
    <p>
    <img src="icons/noun_project_22.png" style="float: right;"/>
    The <a href="http://qanda.digipres.org/">Digital Preservation Q&amp;A</a> site provide a space where anyone can ask questions and receive answers from other members of the digital preservation community.
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Take Part</div>
  <div class="panel-body">
    <p>
    <img src="icons/noun_project_22.png" style="float: right;"/>
    The digipres mailing list...
    </p>
  </div>
</div>
</div>

</div>


<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12">
<div class="panel panel-default">
  <div class="panel-body">
      <em>All images sourced from the</em> <em><span class="nobr"><a href="http://thenounproject.com/" class="external-link">Noun Project<sup><img class="rendericon" src="/images/icons/linkext7.gif" alt="" align="absmiddle" border="0" width="7" height="7"></sup></a></span></em><em>, including: Question image by Henry Ryder, Swiss Army Knife image by Olivier Guin, Add folder image by Sergio Calcara, People image by T. Weber,&nbsp;Cross hairs image by __Lo._ and chain image by Adam Whitcroft.</em>
  </div>
</div>
</div>
</div>
