.index-table th a {
  color: black;
}
h1 {
  border-bottom: 1px solid #aaa;
}
h2 {
  border-bottom: 1px solid #ddd;
}
dd {
    display: block;
    margin-left: 40px;
} 
table.powrr th {
/*  font-weight: normal;*/
}
table.powrr th, table.powrr td {
  padding: 2px 5px;
  border: 1px solid #E6E6E6;
}
table.powrr th.rotate {
  height: 180px;
  white-space: nowrap;
  border: none;
}
table.powrr th.rotate > div {
  -webkit-transform: translate(17px, 83px) rotate(-60deg);
  transform: translate(17px, 83px) rotate(-60deg);
  transform-origin: 0% 0%;  
  width: 40px;
}
table.powrr th.rotate > div > span {
  border-bottom: 1px solid #E6E6E6;
  padding: 13px 0px;
}
table.powrr {
 border-collapse: collapse;
 margin: 0 auto 1em auto;
}
table.powrr tbody th {
  white-space: nowrap;
}
table.powrr thead th {
  border: none;
}
table.powrr thead th.group {
  border-bottom: 1px solid #eee;
  background-color: #f6f6f6;
}
table.powrr thead th.group-even {
  background-color: #f0f0f0;
}
table.powrr th.group {
  text-align: center;
}
table.powrr tr.odd {
  background-color: #eee;
}
table.powrr .toolgrid-ct-separator {
  background-color: #444;
  color: #fefefe;
}

.panel-body img {
  padding: 20px;
} 

.hero-img {
  background: url(../img/tapes.jpg) no-repeat center;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.jumbo-text {
  padding: 30px;
}

@media (min-width: @screen-sm-min) {
    .jumbo-text {
    padding: 10px;
    font-size: 18px;
  }  
}