---
layout: default
---

{% for f in site.data.formats %}
{% if f[0] == page.tool-id %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#formats" role="tab" data-toggle="tab">Formats</a></li>
  <li><a href="#warnings" role="tab" data-toggle="tab">Warnings ({{ f[1]['stats']['total_warnings'] }})</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="formats">

{% for fmt in f[1]['formats'] %}
<h4 id="{{ fmt[0] | downcase }}">{{ fmt[0] }}</h4>
<table class="table">
<tr><th>Name</th><td>{{ fmt[1]['name'] }}</td></tr>
<tr><th>Extensions</th><td>
{% for ext in fmt[1]['extensions'] %}
<a href="{{ site.baseurl }}/formats/extensions/#{{ ext | downcase }}">{{ ext }}</a><br/>
{% endfor %}
</td></tr>
<tr><th>MIME Types</th><td>
{% for mt in fmt[1]['mimetypes'] %}
<a href="{{ site.baseurl }}/formats/mime-types/#{{ mt | downcase }}">{{ mt }}</a><br/>
{% endfor %}
</td></tr>
<tr><th>Has Magic?</th><td>{{ fmt[1]['hasMagic'] }}</td></tr>
<tr><th>Supertype</th><td>{{ fmt[1]['supertype'] }}</td></tr>
</table>
{% endfor %}

  </div>
  <div class="tab-pane" id="warnings">

<p>
While processing this data source, {{ f[1]['stats']['total_warnings'] }} issues were found.
</p>
<ul>
{% for message in f[1]['warnings'] %}
<li>{{ message }}</li>
{% endfor %}
</ul>
  	
  </div>
</div>

{% endif %}
{% endfor %}
